@font-face {
	font-family: 'renner';
	src: url('../../static/police/Renner/Renner_ 400 Book.ttf');
}

@font-face {
	font-family: 'steelfish';
	src: url('../../static/police/steelfish/steelfish rg.ttf');
}

@font-face {
	font-family: 'DreamOrphans';
	src: url('../../static/police/dream_orphans/dream orphans bd.ttf');
}

body {
	
	background-image: url("../images/2background.jpg");
	background-size: cover;
	background-attachment: fixed;
	
}



#content{

	min-width: 800px;
	overflow: hidden;

	
}



#content #banRose  h1 {
	font-family: steelfish ;
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
}


#content #banRose article {

	margin:  15px 40px 30px 15px;
}

#content #banRose article:hover {
	border-bottom:  solid white 2px;
	border-top: solid white 2px;
	margin:  -2px 0 0px 0;
	padding: 20px 36px 30px 20px;
}


#content #banRose article img {
	float: left;
	margin: 0 15px 10px 0 ;
}

#content #banRose article p {
	width: 420px;
	hyphens: auto;
	text-align: left;
	margin: -3px 0 0 0;
}

#content #banBleue article {
	
	margin: 0 0 20px 40px;
	max-width: calc(100vw - 540px);

	display: flex;
	flex-flow: row nowrap;
	
	justify-content: left;

	
	overflow-y: hidden;
	overflow-x: auto;
	
	

}

#content #banBleue h2{
	
	flex: 1;
	border-bottom: solid 2px white ;
	margin: 0 10px 10px 20px;

	
}


#content #banBleue article figure {
	display: flex;
	flex-flow: column nowrap;
	margin: 0 20px 0 0;
	text-align: center;
	overflow: hidden;
	width: 130px;
	flex-shrink: 0;
	white-space: nowrap;

}

#content figure:hover {
	
	display: flex;
	flex-flow: column wrap;
	
	padding: 5px 5px 5px 5px;
	margin:  0 0 -10px 0;
		
	width: 130px;
	overflow: visible;
	white-space: normal;
	text-align: center;

}


#content #banBleue article figcaption, #content a, #content a:visited{
	
	font-family: Renner ;
	color: white;
	text-decoration: none;


}

#content #banBleue article figcaption:hover, #content a:hover {
		
	

}

