@font-face {
	font-family: 'truc';
	src: url('1942.ttf');
}

@font-face {
	font-family: '2';
	src: url('Achafexp.ttf');
}

@font-face {
	font-family: '3';
	src: url('adrip1.ttf');
}

@font-face {
	font-family: '4';
	src: url('african.ttf');
}

@font-face {
	font-family: '5';
	src: url('Artbrush.ttf');
}

@font-face {
	font-family: '6';
	src: url('BrokenGlass.ttf');
}

@font-face {
	font-family: '7';
	src: url('budmo jiggler.ttf');
}

@font-face {
	font-family: '8';
	src: url('Capture it.ttf');
}

@font-face {
	font-family: '9';
	src: url('daniel.ttf');
}

@font-face {
	font-family: '10';
	src: url('DIOGENES.ttf');
}

@font-face {
	font-family: '11';
	src: url('edosz.ttf');
}

@font-face {
	font-family: '12';
	src: url('ethnocentric rg.ttf');
}

@font-face {
	font-family: '13';
	src: url('GOODDC__.ttf');
}

@font-face {
	font-family: '14';
	src: url('Gradientico.ttf');
}

@font-face {
	font-family: '15';
	src: url('HEARRG__.TTF');
}

@font-face {
	font-family: '16';
	src: url('heavy heap.ttf');
}

@font-face {
	font-family: '17';
	src: url('HOMINIS.TTF');
}
2
@font-face {
	font-family: '18';
	src: url('jabjai_heavy.TTF');
}

@font-face {
	font-family: '19';
	src: url('Karate.ttf');
}

@font-face {
	font-family: '20';
	src: url('1942.ttf');
}

@font-face {
	font-family: '21';
	src: url('Kill The Noise.otf');
}

@font-face {
	font-family: '22';
	src: url('Liquid.ttf');
}

@font-face {
	font-family: '23';
	src: url('Mayor.ttf');
}

@font-face {
	font-family: '24';
	src: url('Messages.ttf');
}

@font-face {
	font-family: '25';
	src: url('mexcellent 3d.ttf');
}

@font-face {
	font-family: '26';
	src: url('MexicanTequila.ttf');
}

@font-face {
	font-family: '27';
	src: url('Minecraft.ttf');
}

@font-face {
	font-family: '28';
	src: url('Potra.ttf');
}

@font-face {
	font-family: '29';
	src: url('Prisma.ttf');
}

@font-face {
	font-family: '30';
	src: url('Quantum.otf');
}

@font-face {
	font-family: '31';
	src: url('RElapse-Regular.ttf');
}


@font-face {
	font-family: '32';
	src: url('SexandBreakfast.ttf');
}

@font-face {
	font-family: '33';
	src: url('Smithen Script.ttf');
}

@font-face {
	font-family: '34';
	src: url('SnowtopCaps.otf');
}

@font-face {
	font-family: '35';
	src: url('squealer.ttf');
}
@font-face {
	font-family: '36';
	src: url('Stencilia-Bold.ttf');
}

@font-face {
	font-family: '37';
	src: url('stereofidelic.ttf');
}

@font-face {
	font-family: '38';
	src: url('Super Mario Bros..ttf');
}

@font-face {
	font-family: '39';
	src: url('TheDolbak-Brush.ttf');
}

@font-face {
	font-family: '40';
	src: url('tiza.ttf');
}

@font-face {
	font-family: '41';
	src: url('Top Secret.ttf');
}

@font-face {
	font-family: '42';
	src: url('WickedGrit.ttf');
}

@font-face {
	font-family: 'renner';
	src: url('YOZAKURA-Regular.otf.ttf');
}


p	{
	
	font-size: 50px;
}

 #id1{ font-family: '1';}

#id2{ font-family: '2';}

#id3{ font-family: '3';}

#id4{ font-family: '4';}

#id5{ font-family: '5';}

#id6{ font-family: '6';}

#id7{ font-family: '7';}

#id8{ font-family: '8';}

#id9{ font-family: '9';}

#id10{ font-family: '10';}

#id11{ font-family: '11';}

#id12{ font-family: '12';}

#id13{ font-family: '13';}

#id14{ font-family: '14';}

#id15{ font-family: '15';}

#id16{ font-family: '16';}

#id17{ font-family: '17';}

#id18{ font-family: '18';}

#id19{ font-family: '19';}

#id20{ font-family: '20';}

#id21{ font-family: '21';}

#id22{ font-family: '22';}

#id23{ font-family: '23';}

#id24{ font-family: '24';}

#id25{ font-family: '25';}

#id26{ font-family: '26';}

#id27{ font-family: '27';}

#id28{ font-family: '28';}

#id29{ font-family: '29';}

#id30{ font-family: '30';}

#id31{ font-family: '31';}

#id32{ font-family: '32';}

#id33{ font-family: '33';}

#id34{ font-family: '34';}

#id35{ font-family: '35';}

#id36{ font-family: '36';}

#id37{ font-family: '37';}

#id38{ font-family: '38';}

#id39{ font-family: '39';}

#id40{ font-family: '40';}

#id41{ font-family: '41';}

#id42{ font-family: '42';}
